[user]
  name = svnlto
  email = me@svenlito.com
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color]
  ui = always
[core]
  autocrlf = input
  quotepath = false
  compression = 9
  preloadindex = true
  excludesfile = /Users/svenlito/.gitignore_global
  editor = nvim
  pager = diff-so-fancy | less --tabs=2 -RFX
[web]
  browser = /Applications/Google Chrome.app
[merge]
  verbosity = 5
[mergetool]
  keepBackup = true
[credential]
  helper = osxkeychain
[github]
  user = svnlto
[push]
  default = simple
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

